################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OnlineShop/bin/Debug/netcoreapp2.2
/OnlineShop/obj
