@using System.Net.Http
@using OnlineShop.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products==null)
    {
        products=new List<Products>();
    }
    count = products.Count();
   
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GharDailoSewa</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    </environment>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>My Awesome Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style>
        .error{
            color:red;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="fas fa-times fs-4 text-white"></i></a>
                        </div>
                    </div>
                </div>
                <div class="profile-info p-3 d-flex align-items-center">
                    <img src="assets/images/faces/1.jpg" alt="profile_pic" style="width:60px;" class="rounded-pill me-2">
                    <div class="ps-2 lh-sm sidebar-user-profile">
                        <p class="profile-user-name  mb-0">John Doe</p>
                        <span class="user-role">Super Admin</span>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-item">
                            <a href="index.html" class='sidebar-link'>
                                <i class="fas fa-th-large"></i>
                                <span>Bus Ticket</span>
                            </a>
                        </li>

                        <li class="sidebar-item active">
                            <a href="my-bookings.html" class='sidebar-link'>
                                <i class="fas fa-bus"></i>
                                <span>My Bookings</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="staff.html" class='sidebar-link'>
                                <i class="fas fa-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="reports.html" class='sidebar-link'>
                                <i class="fas fa-file-invoice"></i>
                                <span>My Activities</span>
                            </a>
                        </li>
                    </ul>
                </div>
               <!--  <button class="sidebar-toggler btn x"><i class="fas fa-times fs-4 text-white"></i></button> -->
            </div>
        </div><!-- sidebar-->
        <div id="main">
            <div class="topbar px-3">
                <div class="container-fluid w-100 d-flex align-items-center">
                    <div class="my-2">
                        <a href="#" class="burger-btn d-block ">
                            <i class="fas fa-bars fs-4 text-white"></i>
                        </a>
                    </div>
                    <ul class="nav navbar-right ms-auto d-flex align-items-center header-right-wrapper">
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                  <i class="fas fa-bell"></i>
                              </a>
                              <ul class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item py-2 d-flex justify-content-between">
                                  <p class="mb-0 font-weight-medium float-start">You have 3 new notifications</p>
                                  <span class="badge bg-primary float-end ms-2">View all</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a href="#" class="dropdown-item preview-item">
                                        <p class="m-0">Driver added to Mayur yatayat</p>
                                    </a>
                                </li>
                                <li><a class="dropdown-item preview-item" href="#">New user added to vehicle BA-1 cha 232332</a></li>
                                <li><a class="dropdown-item preview-item" href="#">User successfully deleted</a></li>
                              </ul>
                        </li>
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                  <img src="assets/images/faces/1.jpg" alt="Logo" style="width:40px;" class="rounded-pill me-2">
                                  <!-- <span class="user-name">John Doe</span> -->
                              </a>
                              <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user me-2"></i>Profile
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cog me-2"></i>Settings
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-sign-out-alt me-2"></i>Log out
                                    </a>
                                </li>
                              </ul>
                        </li>
                    </ul><!-- right nav-->
                </div><!-- container fluid-->
            </div><!-- topbar-->

            <div class="content p-4">
                <div class="page-content">
                    <div class="row">
                        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </body>
@*<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="Customer" asp-controller="Home" asp-action="Index">GharDailoSewa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (userRole == "Super User")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="ProductTypes" asp-action="Index">Product Type</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="SpecialTag" asp-action="Index">Tag Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Role" asp-action="Index">Role</a>
                            </li>
                        }
                         @if (userRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="ProductTypes" asp-action="Index">Product Type</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="SpecialTag" asp-action="Index">Tag Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                            </li>
                        }
                        
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Customer" asp-controller="Home" asp-action="Cart">
                                <i class="fas fa-shopping-cart"></i>
                                (@count)
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Bishal Online Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        @*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@@*
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    </environment>
    <environment exclude="Development"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
        
        
    </environment>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    @RenderSection("Scripts", required: false)
</body>*@
</html>



